@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-image: url('./assets/background3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
