@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-image: url("./assets/background11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
