@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-image: url("./assets/background12.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
